.button-box {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  min-width: 99px;
  height: 44px;
  padding: 2px;
  border-radius: 22px;
  box-sizing: border-box;
  &:hover { opacity: .5; }
  &-hover { opacity: .5; }

  &__button {
    width: 100%;
    height: 100%;
    padding-top: 3px;
    padding-left: 4px;
    border: 0px;
    color: #BC9CFF;
    background-color: #FFFFFF;
    border-radius: 22px;
    letter-spacing: 0.3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11.0px;
    line-height: 15px;
    text-transform: uppercase;

    
    &-fill {
      color: #FFFFFF;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
    &-arrow {
      background-image: url('data:image/svg+xml; utf8, <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="white"/></svg>');
      background-repeat: no-repeat;
      background-position: center right 11px;
    }
  }
}