.text-field {
  &__title {
    display: block;
    padding-bottom: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__input {
    display: block;
    width: 320px;
    height: 44px;
    padding: 13px 15px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);

    box-sizing: border-box;
    outline: none;
    &::placeholder { color:rgba(31, 32, 65, 0.25); }
    &:hover, &:focus {
      border: 1px solid rgba(31, 32, 65, 0.5);
      color: rgba(31, 32, 65, 0.75);
      &::placeholder { color:rgba(31, 32, 65, 0.75); }
    }
  }
}