mixin dropdown__control(idDropdown)
  .dropdown__control(id= idDropdown + 'Control')
    div.dropdown__control-button(id= idDropdown + 'Clear' class= 'dropdown__control-button_clear dropdown__control-button_clear_disabled') Очистить
    div.dropdown__control-button(id= idDropdown + 'Apply' class= 'dropdown__control-button_apply') Применить