mixin slider-range(idSliderBar)
  .slider-range(class= 'slider-range__from' id= idSliderBar + 'From')
  .progress-bar(id= idSliderBar + 'ProgressBar')
  .slider-range(class= 'slider-range__to' id= idSliderBar + 'To')