.slider-range {
  position: absolute;
  // left: 100px;
  width: 12px;
  height: 12px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  z-index: 2;
  &__from {
    left: 74px;
  }
  &__to {
    left: 159px;
  }

}  
  .progress-bar {
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    z-index: 1;
  }