doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    include index-components.pug
  body
    h1 Webpack and pug
    br
    hr
    .button-box__small
      +button-box(
        {
          id: 'bt1',
          title:'click me',
          hover: false,
          fill: true,
          arrow: true
        })
    hr
    .slider-box
      +slider-bar( 
        { 
          id: 'sumRange',
          title: 'range slider',
          type: 'range'
        }
      )
    hr
    .slider-box
      +slider-bar( 
        { 
          id: 'sumSlider',
          title: 'slider',
          type: 'slider'
        }
      )
    hr
    +dropdown('date dropdown',
      {
        id: 'propsDateRange',
        type: 'date',
        width: '266px'
      }
    )
    hr
    +dropdown('date dropdown',
      {
        id: 'propsDate',
        type: 'date',
        width: '150px'
      }
    )
    hr
    div 
      +toggle({id: 'specOffer', text: 'Получать спецпредложения', isChecked: true})
      +toggle({id: 'specOffer-sec', text: 'Получать спецпредложения'})
      +toggle({text: 'Получать спецпредложения'})
    hr
    +text-field({id: 'email', title: 'Email', placeholder: 'Email'})
    br
    +text-field({placeholder: 'Phone', type: 'password'})
    hr
    div
      button(id='getDropdownRoom') Get value Dropdown
      button(id='getDropdownGuest') Get value Dropdown
    br
    +dropdown('dropdown',
      { 
        id: 'propsRoom',
        type: 'props',
        props: [
          {id: 'bedrooms', title: 'Спальни'},
          {id: 'beds', title: 'Кровати'},
          {id: 'bathrooms', title: 'Ванные комнаты'},
        ]

      }
    )
    br
    hr
    +dropdown('Будут ли гости',
      { 
        id: 'propsGuest',
        type: 'props',
        props: [
          {id: 'men', title: 'Взрослые', defaultValue: 2},
          {id: 'child', title: 'Дети', defaultValue: 2},
          {id: 'mlad', title: 'Младенцы'},
        ],
        width: '400px'

      }
    )
    br
    hr